<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in e:\anaconda\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\anaconda\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in e:\anaconda\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\anaconda\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in e:\anaconda\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in e:\anaconda\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in e:\anaconda\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\anaconda\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in e:\anaconda\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [3]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
# dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv('survey_data.csv')

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [6]:
# Write your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

In [9]:
print("\n=== Missing Values ===")
print(df.isnull().sum())

=== Missing Values ===
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [12]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [16]:
# Write your code here
# See value counts
print(df['Country'].value_counts(dropna=False))

Country
United States of America                                11095
NaN                                                      6507
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
                                                        ...
Niger                                                       1
Guinea                                                      1
Dominica                                                    1
Papua New Guinea                                            1
Solomon Islands                                             1
Name: count, Length: 186, dtype: int64

In [18]:
# print(df['Country'].unique())

In [20]:
# df['Country'].tolist()

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [23]:
## Write your code here
# USA mapping dictionary 
country_mapping = {
    'United States of America': 'USA',
    'U.S.A.': 'USA',
    'us': 'USA',
    'IND': 'India',
    'United Kingdom of Great Britain and Northern Ireland': 'UK'
}

# Apply the mapping to the Country column
df['Country'] = df['Country'].replace(country_mapping)
print(sorted(df['Country'].dropna().unique()))

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo, Republic of the...', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong (S.A.R.)', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of...', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Federated States of...', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Nomadic', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Republic of North Macedonia', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'UK', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of...', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [27]:
## Write your code here
df['Employment'].unique()

array(['Employed, full-time', 'Student, full-time',
       'Student, full-time;Not employed, but looking for work',
       'Independent contractor, freelancer, or self-employed',
       'Not employed, and not looking for work',
       'Employed, full-time;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Student, full-time', 'Employed, part-time',
       'Student, full-time;Employed, part-time',
       'Student, part-time;Employed, part-time', 'I prefer not to say',
       'Not employed, but looking for work', 'Student, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Not employed, and not looking for work',
       'Retired',
       'Independent contractor, freelancer, or self-employed;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Not employed, but looking for work;Student, part-time',
       'Not employed, but looking for work;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Retired',
       'Not employed, but looking for work;Student, part-time;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work',
       'Employed, full-time;Not employed, but looking for work',
       'Student, full-time;Not employed, and not looking for work;Student, part-time',
       'Employed, full-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Student, full-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Not employed, and not looking for work;Student, part-time',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Student, full-time;Student, part-time',
       'Student, full-time;Not employed, but looking for work;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Student, full-time;Student, part-time',
       'Not employed, but looking for work;Retired',
       'Employed, full-time;Student, full-time;Not employed, but looking for work',
       'Not employed, and not looking for work;Retired',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired',
       'Employed, full-time;Not employed, but looking for work;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
       'Student, full-time;Not employed, but looking for work;Retired',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Student, part-time;Retired',
       'Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired',
       'Employed, full-time;Student, full-time;Student, part-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Employed, full-time;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired',
       'Student, full-time;Student, part-time;Employed, part-time',
       'Employed, part-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Employed, full-time;Student, part-time;Employed, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
       'Student, full-time;Student, part-time;Retired',
       'Student, full-time;Not employed, and not looking for work;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Employed, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time',
       'Not employed, and not looking for work;Employed, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work;Employed, part-time',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Not employed, but looking for work;Student, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time;Retired',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work;Not employed, and not looking for work;Student, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Student, part-time;Retired',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Student, part-time;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Student, part-time',
       'Employed, full-time;Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Employed, part-time;Retired',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time',
       'Student, full-time;Retired',
       'Employed, full-time;Not employed, but looking for work;Student, part-time',
       'Not employed, and not looking for work;Student, part-time;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired'],
      dtype=object)

In [28]:
# Step 1: Split each entry by ';'
df['Employment_split'] = df['Employment'].str.split(';')

# Step 2: Create binary columns (one-hot encoding for multi-label data)
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
employment_encoded = pd.DataFrame(mlb.fit_transform(df['Employment_split']),
                                  columns=mlb.classes_,
                                  index=df.index)

# Step 3: Combine with original DataFrame (optional)
df_encoded = pd.concat([df, employment_encoded], axis=1)

df_encoded.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Employment_split,"Employed, full-time","Employed, part-time",I prefer not to say,"Independent contractor, freelancer, or self-employed","Not employed, and not looking for work","Not employed, but looking for work",Retired,"Student, full-time","Student, part-time"
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,"[Employed, full-time]",1,0,0,0,0,0,0,0,0
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,"[Employed, full-time]",1,0,0,0,0,0,0,0,0
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,"[Employed, full-time]",1,0,0,0,0,0,0,0,0
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,"[Student, full-time]",0,0,0,0,0,0,0,1,0
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,"[Student, full-time]",0,0,0,0,0,0,0,1,0

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [32]:
## Write your code here
# Identify missing values per column
missing_counts = df.isnull().sum()

# Sort columns by missing value count in descending order
missing_sorted = missing_counts.sort_values(ascending=False)

# Display columns with the highest number of missing values
print("Columns with missing values (sorted):")
print(missing_sorted)

Columns with missing values (sorted):
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Check                             0
Employment                        0
Age                               0
Employment_split                  0
Length: 115, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [34]:
## Write your code here
# Step 1: Identify numerical columns
num_cols = df.select_dtypes(include=['number']).columns

# Step 2: Impute missing values with mean
for col in num_cols:
    df[col].fillna(df[col].mean(), inplace=True)



print("DataFrame after mean imputation for numerical columns:")
df.head(10)

DataFrame after mean imputation for numerical columns:

C:\Users\serge\AppData\Local\Temp\ipykernel_10464\3559794405.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat,Employment_split
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,22.96522,20.278165,16.169432,10.955713,9.953948,NaN,NaN,86155.287263,6.935041,"[Employed, full-time]"
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.00000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,86155.287263,6.935041,"[Employed, full-time]"
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,22.96522,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Easy,86155.287263,6.935041,"[Employed, full-time]"
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,22.96522,20.278165,16.169432,10.955713,9.953948,Too long,Easy,86155.287263,6.935041,"[Student, full-time]"
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,22.96522,20.278165,16.169432,10.955713,9.953948,Too short,Easy,86155.287263,6.935041,"[Student, full-time]"
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,Primary/elementary school,"School (i.e., University, College, etc);Online...",NaN,...,22.96522,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Easy,86155.287263,6.935041,"[Student, full-time]"
6,7,"I am not primarily a developer, but I write co...",35-44 years old,"Employed, full-time",Remote,Apples,I don’t code outside of work,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Written...,...,22.96522,20.278165,16.169432,10.955713,9.953948,Too long,Neither easy nor difficult,86155.287263,6.935041,"[Employed, full-time]"
7,8,I am learning to code,18-24 years old,"Student, full-time;Not employed, but looking f...",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Video-based Online Cou...,...,22.96522,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Difficult,86155.287263,6.935041,"[Student, full-time, Not employed, but looking..."
8,9,I code primarily as a hobby,45-54 years old,"Employed, full-time",In-person,Apples,Hobby,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",Books / Physical media;Other online resources ...,Stack Overflow;Written-based Online Courses,...,22.96522,20.278165,16.169432,10.955713,9.953948,Appropriate in length,Neither easy nor difficult,86155.287263,6.935041,"[Employed, full-time]"
9,10,I am a developer by profession,35-44 years old,"Independent contractor, freelancer, or self-em...",Remote,Apples,Bootstrapping a business,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,22.96522,20.278165,16.169432,10.955713,9.953948,Too long,Easy,86155.287263,6.935041,"[Independent contractor, freelancer, or self-e..."

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [37]:
## Write your code here
# 2. Impute missing values in 'RemoteWork' with the most frequent value
most_frequent_RemoteWork = df['RemoteWork'].mode()[0]
df['RemoteWork'].fillna(most_frequent_RemoteWork, inplace=True)

C:\Users\serge\AppData\Local\Temp\ipykernel_10464\3674767878.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RemoteWork'].fillna(most_frequent_RemoteWork, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [42]:
## Write your code here
# Min-Max normalization
df['ConvertedCompYearly'] = (df['ConvertedCompYearly'] - df['ConvertedCompYearly'].min()) / (df['ConvertedCompYearly'].max() - df['ConvertedCompYearly'].min())
df['ConvertedCompYearly'].describe()

count    65437.000000
mean         0.005300
std          0.006875
min          0.000000
25%          0.005300
50%          0.005300
75%          0.005300
max          1.000000
Name: ConvertedCompYearly, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [46]:
## Write your code here
import pandas as pd
import numpy as np
# Step 1: Handle missing values (optional, here we drop them)
df = df.dropna(subset=['ConvertedCompYearly'])

# Step 2: Apply log transformation (use np.log1p to handle zero safely)
df['ConvertedCompYearly'] = np.log1p(df['ConvertedCompYearly'])

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [54]:
## Write your code here
df['YearsCodePro'].value_counts(dropna=False)

YearsCodePro
NaN                   13827
2                      4168
3                      4093
5                      3526
10                     3251
4                      3215
Less than 1 year       2856
6                      2843
1                      2639
8                      2549
7                      2517
12                     1777
15                     1635
20                     1549
9                      1493
11                     1312
13                     1127
14                     1082
25                      998
16                      946
18                      867
17                      814
30                      689
24                      632
19                      516
22                      492
23                      448
26                      426
27                      380
21                      380
28                      342
35                      285
29                      196
40                      194
32                      194
34                      169
38                      134
33                      132
36                      119
31                      106
37                      104
45                       56
42                       55
39                       54
41                       51
More than 50 years       50
44                       42
43                       37
46                       21
48                       14
50                       14
49                       11
47                       10
Name: count, dtype: int64

In [56]:
# Step 1: Replace textual values and convert to numeric
df['YearsCodePro'] = df['YearsCodePro'].replace({
    'Less than 1 year': '0',
    'More than 50 years': '51'
})
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Step 2: Define function to assign experience levels
def classify_experience(years):
    if pd.isnull(years):
        return 'Unknown'
    elif years <= 1:
        return 'Beginner'
    elif years <= 5:
        return 'Intermediate'
    elif years <= 10:
        return 'Advanced'
    else:
        return 'Expert'

# Step 3: Apply function to create new column
df['ExperienceLevel'] = df['YearsCodePro'].apply(classify_experience)

df['ExperienceLevel'].value_counts(dropna=False)

ExperienceLevel
Expert          18460
Intermediate    15002
Unknown         13827
Advanced        12653
Beginner         5495
Name: count, dtype: int64

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.